/* POLICES */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

:root {
    --bg-grey: #ededed; /* OU #e6e6e6 */
    --text-black: #171717;  /* OU #0f0f0f */
    --input-grey: #cfcfcf;
    --pink: #e277cd
}

/* FORMES (input, btn, cadre) */


h1, h2, h3, h4, h5, h6, a {
    font-family: 'Montserrat', sans-serif
}

/* BARRE DE NAVIGATION */

/* logo et bouton toggle restent alignés sur tous les écrans */
.nav-logo {
    min-width: 50px;
    max-width: 100px;
    border-radius: 5px
    /* filter: brightness(60%) */
}

.navbar-toggler {
    background-color: var(--pink);
    color: var(--text-black)
}


.nav-item {
    font-size: 2rem;
    padding: 1rem;
    color: var(--pink)
}


