:root {
    --background-color: #ededed;
    --text-color: #171717;
    --primary-color: #cfcfcf; /* couleur principale, utilisée pour les éléments en arrière-plan comme le header */
    --secondary-color: #e277cd; /* couleur secondaire, utilisée pour les éléments cliquables comme les boutons */
  }
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');
  
  * {
    user-select: none;
  }
  
/* NavBar */
nav {
    background-color: var(--primary-color);
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: start;
    align-items: center;
}

nav a {
    display: inline-block;
    margin-right: 20px;
}

nav img {
    max-width: 90px;
    border-radius: 25px;
    height: auto;
    display: block;
}

  /* Général */
  body {
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;    
  }


  .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      height: 80vh;
  }
  
  /* Présentation */
  .presentationSite {
      max-width: 50%;
      padding: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .presentationSite h1 {
      margin-top: 0;
      font-size: 2em;
      font-weight: bold;
  }
  
  .presentationSite p {
      margin-bottom: 20px;
      font-size: 1em;
      line-height: 1.5;
      font-family:'Montserra', sans-serif;
  }
  
  .presentationSite a {
      border-radius: 25px;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      background-color: var(--secondary-color);
      transition: 0.3s ease;
      text-decoration: none;
      color: #171717;
  }
  
  .presentationSite a:hover {
      opacity: 0.8;
      font-weight: 600;
  }
  
  /* Styles pour l'image */
  .imgHome {
      max-width: 40%;
      padding: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .imgHome img {
      max-width: 100%;
      height: auto;
      display: block;
  }
  
  /* Footer */
footer {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 20px 0;
    text-align: center;
    font-size: 0.9em;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

/* Test responsive home.html*/
/* Pour tablettes */
@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        padding: 40px;
    }
    .presentationSite, .imgHome {
        max-width: 45%;
    }
    .presentationSite h1 {
        font-size: 2.5em;
    }
}

/* Pour mobile */
@media (max-width: 767px) {
    .container {
        flex-direction: column-reverse;
    }
    .presentationSite, .imgHome {
        max-width: 100%;
    }
}
