<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bienvenue sur Chatbot</title>
  <!-- FAVICON -->
  <link rel="icon" type="image/x-icon" href="../static/assets/picto_rose.png">

  <!-- ICONES -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- BOOTSTRAP CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <!-- CUSTOM STYLES -->
  <link rel="stylesheet" href="../static/css/styles.css">
  <link rel="stylesheet" href="../static/css/responsive.css">
  <link rel="stylesheet" href="/static/css/chatbot_styles.css">
</head>

<body>

  <!-- Container principal de la page -->
  <main>
    <!-- Présentation du site -->
    <div class="container col-xxl-8 px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6 presentationImgContainer">
          <img src="../static/assets/image_horizontal_noir_rose.png" class="d-block mx-lg-auto img-fluid rounded"
            alt="presentation image chatbot" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Bienvenue sur Chatbot</h1>
          <p class="lead"></p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a type="button" href="chatbot" class="btn btn-primary btn-lg px-4 me-md-2 lh-lg start-btn">Commencer</a>
          </div>
        </div>
      </div>
    </div>
  </main>
  
  <!-- Composant footer -->
  <my-footer></my-footer>

  <!-- BOOTSTRAP JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
  <!-- SCRIPTS -->
  <!-- WEBCOMPONENTS.JS AVANT LES AUTRES SCRIPTS PERSO POUR EXECUTER LE JS DANS LES COMPOSANTS !!! -->
  <script src="../static/js/webcomponents.js"></script>
  <script src="/static/js/chatbot_effects.js"></script>
</body>

</html>