<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>


    <!-- TODO: mettre la zone image dans la modale -->
    <div id="image"></div>

    <p>Générer une image avec du texte</p>
    <!-- icône image -->
    <!-- TODO: mettre input et bouton (icône dans la navbar) -->
    <input type="text" id="userInput" placeholder="Entrez des mots-clés...">

    <!-- sous forme d'icône rotate -->
    <button onclick="sendMessage()">Créer une image</button>
    <i class="fa-solid fa-rotate fa-spin"></i>
    <i class="fa-solid fa-camera-retro"></i>


    <script src="/static/js/test.js"></script>

    
</body>
</html>